select {
    /* background-color: #555555; */
    width: 220px;
    border: 1px solid #bbb;
    height: 28px;
    margin-top: 4px;
    line-height: 28px;
    display: inline-block;
    height: 18px;
    padding: 4px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    font-size: 18px;
    min-height: 30px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 17px;
    vertical-align: baseline;
}
select:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* button {
    color: #555555;
    outline: none;
    border: none;
    padding : 10px;
    height: 100px;
    width: 200px;;
} */