
@font-face {
    font-family: Monteserrat;
    src: url("./../../src/Assets/Fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: Monteserrat;
    src: url("./../../src/Assets/Fonts/Montserrat-BlackItalic.ttf");
}

@font-face {
    font-family: Monteserrat;
    src: url("./../../src/Assets/Fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Monteserrat;
    src: url("./../../src/Assets/Fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
    font-family: Monteserrat;
    src: url("./../../src/Assets/Fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
    font-family: Monteserrat;
    src: url("./../../src/Assets/Fonts/Montserrat-ExtraLightItalic.ttf");
}
@font-face {
    font-family: Monteserrat;
    src: url("./../../src/Assets/Fonts/Montserrat-Italic.ttf");
}
@font-face {
    font-family: Monteserrat;
    src: url("./../../src/Assets/Fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: Monteserrat;
    src: url("./../../src/Assets/Fonts/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: Monteserrat;
    src: url("./../../src/Assets/Fonts/Montserrat-Medium.ttf");
}