.contents {
    display: flex;
}
.home-container{
    /* padding-top: 5rem; */
    display:grid;
    grid-template-columns: 15rem 20rem 15rem;
    height : 80vh;
    justify-content: center;
}
.middle-container{
    box-sizing: border-box;
    border : 1px solid #ffff11;
}